header .navbar {
    padding: 2px;
    background-color: #2c2c2c !important; /
}

header .navbar-brand, header .navbar .nav-item a {
    color: white !important; 
    font-size: 10px;
}

header .navbar .nav-item a:hover {
    text-decoration: underline;
}

.navbar-toggler {
    display: none;
    border: none;
    background: none;
    color: white; 
    padding: 12px;
    font-size: 24px; 
}


@media (max-width: 992px) {
    .navbar-toggler {
        display: block;
    }
    header .navbar-collapse {
        position: static; 
        width: 100%;
        background-color: #2c2c2c !important; 
    }

    header .navbar .nav-item {
        text-align: left; 
        padding: 10px 0; 
    }
}

img {
    width: auto; 
    height: 200px; 
}

.feature-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.feature h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.feature p {
    margin-bottom: 20px;
}

#icon2 {
    width: 100px; 
    height: auto; 
}

.optic-image {
    max-width: 100%;
    height: 500px;
}

.feature-icon {
    width: 70px;
    height: auto;
}

.apple-btn {
    background-color: #000; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px; 
    transition: background-color 0.3s;
}

.apple-btn:hover {
    background-color: #444;
}

.feature-header {
    height: 80px;
    width: 100%; 
}

.feature-icon {
    width: 50px;  
    height: 50px; 
}

.bg-kaki {
    background-color: #708238;
}

.responsive-image {
    max-width: 100%; 
    height: auto;   
}

section {
    margin-top: 30px;
    margin-bottom: 30px;;
}

.mon-arrondi {
    border-radius: 15px; 
}

.btn-kaki {
    background-color: #549cc8; 
    border-color: #808000; 
}

.btn-kaki:hover, .btn-kaki:focus, .btn-kaki:active {
    background-color: #72721a;
    border-color: #6B6B00;
}

body {
    zoom: 1.2;
}

#carouselFeatures .carousel-item {
    height: 600px; 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Accordion Styles */

#faq h2 {
    margin-bottom: 0;
    color: #555;
}

.accordion-button {
    width: 100%;
    text-align: left;
    background-color: #f4f4f4;
    color: #333;
    border: none;
    outline: none;
    transition: all 0.3s;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 25px;
}

.accordion-button:hover {
    background-color: #e4e4e4;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #8a8a5c;
}

.accordion-collapse {
    border-top: 1px solid #ddd;
}

.accordion-body {
    padding: 15px 25px;
    background-color: #f9f9f9;
    font-size: 16px;
    border-radius: 0 0 5px 5px;
}

#contact {
    background-color: #f8f9fa; 
    padding: 40px; 
}


.contact-form {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}


.contact-info {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

button {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  button:hover svg {
    transform: rotate(45deg);
  }
  
  .button {
    background-color: #ffffff00;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    border: #ffffff 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
  }
  
  .button:hover {
    background-color: #ffffff;
    color: #000
  }
  
  .button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 0 1.5em
  }

  .container1{
    background-color: #535364;
    color: #ddd;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 3px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}



